@media (max-width: 1299.98px){

}

@media (max-width: 1199.98px){
	.side-bar ul li a{
		font-size: 16px;
	}
}

@media (max-width: 991.98px){
	.navigation .menu{
		padding: 0 25px;
		width: 160px;
	}
	#user-name{
		font-size: 15px;
	}
	#balance{
		font-size: 13px;
	}
	.user-nav .user-info{
		padding-left: 10px;
	}
	.user-nav .avatar{
		height: 40px;
		max-width: 40px;
	}
	#resBtn{
		display: block;
	}
	.user-nav,
	.dashboard .logo{
		padding: 10px;
		height: 60px;
	}
	.user-nav{
		padding-left: 50px;
	}
	.dashboard .logo a{
		width: 100%;
	    height: 200%;
	    background-size: 100px;
	    background-position: 10px center;
	}
	.dash-content,
	.side-bar{
		transition: .2s;
		transform: translateX(-60px);
	}
	.dash-content.active,
	.side-bar.active{
		transform: translateX(0);
	}
	.side-bar{
		min-width: unset;
		max-width: 60px;
		padding: 60px 0;
	}
	.side-bar ul li a span:not(.ico){
		display: none;
	}
	.side-bar ul li a .ico{
		margin: 0 auto;
	}
	.dashboard .copyright{
		display: none;
	}
	.dash-content{
		padding-top: 60px;
	    flex: 0 0 100%;
	}
}

@media (max-width: 767.98px){
	#switch-btn{
		width: 45px;
		height: 45px;
		background-size: 14px;
	}
	#switch-btn:hover{
		background-image: url('../img/icons/converter.png');
	}
	#calculator .convert-element{
		max-width: 300px;
		margin: 10px auto;
	}
	.content-container{
		padding: 30px;
	}
	.box{
		padding: 30px 40px;
	}
	.title{
		font-size: 20px;
	}
	#user-name{
		font-size: 13px;
	}
	#balance{
		font-size: 11px;
	}
	.user-nav .user-info{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.history-table table{
		font-size: 14px;
	}
}

@media (max-width: 575.98px){
	.title{
		margin-bottom: 15px;
	}
	.box{
		padding: 30px;
	}
	.content-container{
		padding: 30px 15px;
	}
	.user-nav > .row{
		flex-direction: column-reverse;
	}
	.user-nav .user-info{
		padding-left: 0;
		font-size: 14px;
		margin-top: 2px;
	}
	.navigation .menu::before,
	.navigation .menu::after,
	.user-nav .avatar{
		display: none;
	}
	.navigation{
		justify-content: space-between;
		width: 100%;
	}
	.navigation .menu{
		padding: 0 2px;
		width: 120px;
	}
	.navigation .signout{
		margin-left: 10px;
	}
	.user-nav{
		height: unset;
		min-height: 60px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
