*{
	background-repeat: no-repeat;
	font-family: 'bpgArial'!important;
}
html,body{
    width: 100%;
	overflow-x: hidden;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.bpgArial{
	font-family: 'bpgArial';
}
.dashboard{
    display: flex;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.user-nav,
.dashboard .copyright,
.dashboard .logo{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
}
.dashboard .logo{
	top: 0;
	background-color: #2b2c44;
	padding-left: 50px;
	padding-right: 50px;
}
.dashboard .copyright{
	bottom: 0;
	color: #6d6d81;
	padding-left: 50px;
}
.dashboard .copyright::before{
	content: '';
	width: calc(100% - 50px);
	background-color: #3a3c57;
	height: 1px;
	position: absolute;
	top: 0;
	right: 0;
}
.dashboard .copyright span{
	background-image: url('../img/icons/copyright.png');
	padding-left: 25px;
	background-position: left center;
	font-size: 14px;
}
.dashboard .logo a{
	display: inline-block;
    width: 100%;
    max-width: 165px;
    height: 50px;
    background-image: url(../img/logo.png);
    background-position: center left;
    background-size: contain;
}
.dashboard .logo a img{
	width: 100%;
}
.side-bar,
.dash-content{
    height: 100%;
    position: relative;
    width: 100%;
    padding-top: 100px;
}
.side-bar{
    flex: 0 0 26%;
    z-index: 99;
    max-width: 330px;
    min-width: 180px;
    background-color: #1e2037;
    padding-bottom: 100px;
    padding-left: 50px;
}
#resBtn{
	position: absolute;
	top: 18px;
	right: -35px;
	width: 30px;
	height: 24px;
	cursor: pointer;
	display: none;
}
#resBtn span{
	position: absolute;
	background-color: #2b2c44;
	height: 4px;
	border-radius: 2px;
	width: 30px;
	transition: .2s;
}
#resBtn span.t{
	top: 0;
}
#resBtn span.m{
	top: 10px;
}
#resBtn span.b{
	bottom: 0;
}
#resBtn.active span.m{
	opacity: 0;
}
#resBtn.active span.t{
    top: 10px;
    transform: rotate(45deg);
}
#resBtn.active span.b{
	bottom: 10px;
    transform: rotate(-45deg);
}
.dash-content{
    background-color: #f2f2f6;
}
.side-bar .dash-list{
	height: 100%;
	padding: 50px 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.side-bar ul li{
	padding: 18px 0;
}
.side-bar ul li a{
	position: relative;
	font-size: 18px;
	color: #fff;
	transition: .2s;
	text-decoration: none;
	opacity: .6;
	display: flex;
	align-items: center;
}
.side-bar ul li a .ico{
	margin-right: 28px;
	width: 20px;
}
.side-bar ul li a .ico img{
	width: 100%;
}
.side-bar ul li a span:not(.ico){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.side-bar ul li a::after{
	content: '';
	width: 4px;
	height: 30px;
	position: absolute;
	border-radius: 2px;
	background-color: #ed1847;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	opacity: 0;
	transition: .2s;
}
.side-bar ul li a:hover::after,
.side-bar ul li a.active::after,
.side-bar ul li a.active,
.side-bar ul li a:hover{
	opacity: 1;
}
.user-nav{
	top: 0;
	background-color: #ffffff;
	padding: 25px 50px;
	display: block;
	box-shadow: 0px 6px 38px 0px rgba(76, 65, 118, 0.09);
}
.user-nav .user{
	display: flex;
	align-items: center;
}
.user-nav .avatar{
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 0 0 20%;
}
.user-nav .avatar img{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}
.user-nav .user-info{
	padding-left: 30px;
}
#user-name{
	font-size: 18px;
	color: #19122f;
	margin: 0;
}
.navigation .signout,
#balance{
	color: #19122f;
	opacity: .45;
	font-size: 14px;
}
#balance span{
	display: inline-block;
}
.navigation .signout{
	transition: .2s;
	text-decoration: none;
	padding:3px 35px 4px 2px;
	position: relative;
	opacity: 1;
	margin-left: 40px;
	color: #9794a1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.navigation .signout::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    top: 0;
    right: 3px;
    background-image: url(../img/icons/top-bar-sprite.png);
    background-position-y: -96px;
    background-position-x: center;
    background-repeat: no-repeat;
}
.navigation .signout:hover{
	color: #19122f;
	opacity: 1;
}
.navigation .signout:hover::after{
	background-position-y:-127px; 
}
.navigation{
	display: flex;
	align-items: center;
}
.navigation .menu{
	width: 200px;
	justify-content: space-between;
	padding: 0 35px;
	position: relative;
}
.navigation .menu::before,
.navigation .menu::after{
	content: '';
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 1px;
	height: 18px;
	background-color: #e8e7ea;
}
.navigation .menu::before{
	left: 0;
}
.navigation .menu::after{
	right: 0;
}
.navigation .menu span{
	display: inline-block;
	width: 22px;
	height: 22px;
	position: relative;
    cursor: pointer;
}
.navigation .menu span .ico{
    background-image: url(../img/icons/top-bar-sprite.png);
    background-position-x: center;
    opacity: .55;
}
.navigation .menu span:hover .ico{
    opacity: 1;
}
.navigation .menu .alerts .ico{
    background-position-y: -2px;
}
.navigation .menu .settings .ico{
    background-position-y: -36px;
}
.navigation .menu .messages .ico{
    background-position-y: -68px;
}
.navigation .menu .status-active{
	position: absolute;
	width: 11px;
	height: 11px;
	right: -1px;
	top: 1px;
	border-image:none!important;
	border-radius: 50%;
	border:3px solid #fff;
	z-index: 2;
	background-color: #ed1847;
}
.content-container{
	padding: 30px 50px;
	height: 100%;
	overflow: auto;
}
.box{
	background-color: #fff;
	box-shadow: 0px 6px 38px 0px rgba(76, 65, 118, 0.09);
	border-radius: 30px;
	padding: 40px 50px;
	margin-bottom: 30px;
}
.title{
	font-size: 30px;
	color: #19122f;
	margin-bottom: 25px;
}
.text{
	font-size: 14px;
	color: #817c8d;
}
.text._ex{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 16px;
	max-height: 32px; 
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.about-referral .link{
	margin-top: 15px;
	font-size: 14px;
	display: flex;
	flex-wrap: wrap;
}
.about-referral .link span{
	color: #817c8d;
	background-image: url('../img/icons/url.png');
	padding-left: 25px;
}
.about-referral .link a{
	color: #3e84b5;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.history-table table{
	white-space: nowrap;
	color: #19112f;
	font-size: 16px;
}
.history-table .table span{
	color: #817c8d;
}
.history-table table thead{
	color: #817c8d;
	font-size: 14px;
}
.history-table .table thead th{
	border:none;
}
.table th{
	font-weight: normal;
}
#switch-btn{
	width: 65px;
	max-width: 100%;
	height: 65px;
	margin: 10px auto;
	display: table;
	border-radius: 50%;
	background-color: #ed1847;
	border:none;
	background-image: url('../img/icons/converter.png');
	background-position: center;
	outline: none;
	transition: .2s;
	box-shadow: 0px 10px 38px -15px #e61846;
}
#switch-btn:hover{
	box-shadow: 0px 6px 38px -10px #e61846;
	background-color: #e11a46;
	background-image: url('../img/icons/converter-hover.png');
}
#calculator .convert-element{
	position: relative;
}
#calculator .convert-element .curr{
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 14px;
    color: #19122f;
    opacity: .45;
}
#calculator .convert-element input{
	width: 100%;
	border:none;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	border-bottom: 1px solid #e3e2e6; 
	font-size: 25px;
	line-height: 1;
	padding: 5px 30px 5px 0;
	color: #19112f;
	caret-color: #ed1847;
}
#calculator .convert-element .focus-bar{
	position: absolute;
	bottom: 0;
	width: 0;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ed1847;
	transition: .2s;
}
#calculator .convert-element input:focus ~ .focus-bar{
	width: 100%;
}
